*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: lightgreen;
}

/*** GAUGE ONE ***/
.gauge-one {
    display: flex;
    gap: 10rem;
    justify-content: center;
}

.gauge {
    margin-top: 3rem;
    border: 2px solid yellow;
    background-color: blue;
    width: 350px;
    padding: 25px;
}

.gauge-box {
    background-color: blue;
    width: 300px;
    height: 150px;
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    position: relative;
    overflow: hidden;
}

.gauge-dail {
    background-color: crimson;
    width: 300px;
    height: 150px;
    position: absolute;
    bottom: -100%;
    left: 0%;
    transform-origin: center top;
    transform: rotate(135deg);
    transition: transform 1s ease-out;
}

.mypoint {
    height: 12px;
    width: 12px;
    background-color: pink;
    border-radius: 50%;
    position: absolute;
    top: -6px;
    left: -5px;
}

.gauge-cover-circle {
    width: 245px;
    height: 245px;
    border-radius: 50%;
    background-color: blue;
    position: absolute;
    top: 30px;
    left: 28px;
}

.gauge-text {
    color: red;
    padding: 3rem 0rem;
    font-size: 3rem;
    text-align: center;
}

/*** GAUGE TWO ***/
.mycontainer {
    margin: 0 auto;
    margin-top: 3rem;
    background-color: lightgreen;
    width: 500px;
    padding: 50px;
}

.mybox {
    background-color: lightgreen;
    width: 400px;
    height: 200px;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    position: relative;
    overflow: hidden;
}

.mymove {
    border-top: 2px solid pink;
    background-color: lightblue;
    width: 400px;
    height: 200px;
    position: absolute;
    bottom: -100%;
    left: 0%;
    transform-origin: center top;
    transform: rotate(60deg);
    transition: transform 1s ease-out;
}

.mycover {
    background-color: pink;
    width: 280px;
    height: 280px;
    border-radius: 50%;
    position: absolute;
    top: 60px;
    left: 60px;
}

.mytext {
    color: grey;
    padding: 3rem 0rem;
    font-size: 3rem;
    text-align: center;
}

.mymovecontroller input[type="range"]:focus {
    outline: none;
}

.mycontrollerbox {
    width: 280px;
    margin: 0 auto;
    padding: 12px 0px 0px 60px;
}

.mymovecontroller::-moz-range-track {
    height: 25px;
    width: 280px;
    background-color: grey;
    border-radius: 25px;
}

.mymovecontroller::-moz-range-thumb {
    height: 23px;
    width: 23px;
    border-color: grey;
    background-color: pink;
    border-radius: 50%;
    cursor: pointer;
}