*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --content-width: 1200px;
  --button-height: 1rem;
}
html {
  font-family: sans-serif;
  font-size: 1rem;
  background-color: lightblue;
}
/* header /////////////////////////////////////////////// */
.filler {
  height: 5rem;
  width: var(--content-width);
  margin: 0 auto;
}
.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  height: 5rem;
  padding: 0rem 1rem 0rem 4rem;
  width: var(--content-width);
  margin: 0 auto;
}
/* beyblade logo /////////////////////////////////////////////// */
.logo {
  display: grid;
  place-items: center;
  height: 60px;
  width: 100px;
  border: 4px solid blue;
  border-radius: 50%;
  background-color: lightgrey;
  color: red;
  font-size: 1rem;
  font-weight: bolder;
  transform-origin: center;
  transform: rotate(-17deg);
  position: relative;
  cursor: zoom-in;
}
.logo .tooltip {
  position: absolute;
  z-index: 1;
  visibility: hidden;
  background-color: blue;
  color: lightgrey;
  border-radius: 0.7rem;
  font-size: 0.9rem;
  font-weight: bold;
  text-align: center;
  width: auto;
  padding: 0.3rem 0.5rem;
  transform: translate(3rem, 2rem) rotate(17deg);
}
.logo:hover .tooltip {
  visibility: visible;
}
/* search box /////////////////////////////////////////////// */
.searchBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 2rem;
  border: 4px solid blue;
  width: 24rem;
  overflow: hidden;
  background-color: red;
}
.spyglass {
  line-height: 125%;
  text-align: center;
  height: 2rem;
  width: 2rem;
  border: 2px solid blue;
  border-radius: 50%;
  margin: 0.2rem;
  background-color: lightgrey;
  color: blue;
  font-size: 1.2rem;
  cursor: pointer;
  position: relative;
}
.spyglass .tooltip {
  position: absolute;
  z-index: 1;
  visibility: hidden;
  background-color: blue;
  color: lightgrey;
  border-radius: 0.7rem;
  font-size: 0.9rem;
  font-weight: bold;
  text-align: center;
  width: auto;
  padding: 0.2rem 0.5rem;
  transform: translateX(1rem);
}
.spyglass:hover .tooltip {
  visibility: visible;
}
.search {
  width: 100%;
  outline: none;
  border: none;
  padding: 0.5rem 0rem;
  font-size: 1.2rem;
  background-color: red;
  color: lightgrey;
}
/* main /////////////////////////////////////////////// */
.dataLists {
  display: flex;
  justify-content: space-between;
  width: var(--content-width);
  margin: 0 auto;
}
/* product list /////////////////////////////////////////////// */
#productList {
  display: flex;
  flex-direction: column;
}
.dataLine {
  margin: 0.5rem;
  background-color: pink;
  border-radius: 1rem;
  color: darkblue;
  padding: 0.1rem 0.5rem;
  width: 750px;
}
.product_image {
  height: 350px;
  width: 350px;
  border: 2px solid red;
  border-radius: 1rem;
  margin: 0.5rem;
  padding: 1rem;
  float: left;
}
.product_information {
  float: right;
}
.product_info_title {
  padding: 0.5rem 1rem 0rem 0rem;
  color: blue;
  font-size: 1.1rem;
}
.product_info_text {
  padding: 0.5rem 1rem 0rem 0rem;
  color: blue;
  line-height: 170%;
  font-size: 0.9rem;
}
/* order now button */
.order_now_button {
  height: 1.5rem;
  width: 6rem;
  border: 1px solid red;
  border-radius: 0.5rem;
  background-color: red;
  color: white;
  font-weight: bold;
  box-shadow: 5px 6px 6px grey;
  cursor: pointer;
  outline: none;
  transition: 0.2s all;
  margin-top: 0.9rem;
}
.order_now_button:active {
  transform: translate(2px, 2px);
  box-shadow: none;
}
/* order list /////////////////////////////////////////////// */
#orderList {
  display: flex;
  flex-direction: column;Start
}
.shoppingCart {
  height: calc(352.5 / 2) px;
  width: 420px;
  margin: 0.5rem;
}
.shoppingCartTitle {
  width: 100%;
  border-radius: 1rem;
  background-color: red;
  color: blue;
  padding: 2rem;
  font-size: 1.3rem;
  font-weight: bold;
}
.orderLine {
  border-radius: 1rem;
  background-color: tomato;
  width: 420px;
  position: relative;
  margin: 0.2rem;
  position: relative;
}
.minusButton {
  position: absolute;
  top: 0.7rem;
  right: 2rem;
  background-color: white;
  color: red;
  width: var(--button-height);
  height: var(--button-height);
  border-radius: 0.3rem;
  text-align: center;
  line-height: 100%;
  cursor: pointer;
}
.removeButton {
  position: absolute;
  top: 0.7rem;
  right: 0.7rem;
  background-color: red;
  color: blue;
  width: var(--button-height);
  height: var(--button-height);
  border-radius: 0.3rem;
  text-align: center;
  line-height: 100%;
  cursor: pointer;
}
.orderLine_image {
  height: 120px;
  width: 120px;
  border: 2px solid red;
  border-radius: 1rem;
  margin: 0.5rem;
  padding: 1rem;
  float: left;
}
.orderLine_information {
  float: right;
}
.orderLine_info_title {
  padding: 0.5rem 1rem 0rem 0rem;
  color: blue;
  font-size: 0.9rem;
}
.orderLine_info_text {
  padding: 0.5rem 1rem 0rem 0rem;
  color: blue;
  line-height: 170%;
  font-size: 0.7rem;
}
.orderTotal {
  width: 420px;
  margin: 0.5rem;
}
.orderTotalTitle {
  width: 100%;
  border-radius: 1rem;
  background-color: red;
  color: blue;
  padding: 1rem;
  font-size: 1rem;
  font-weight: bold;
}
//dataObject.splice(dataObject.indexOf(order), 1);