*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg_color_left: blue;
  --fg_color_left: lightblue;
  --bg_color_right: yellow;
  --fg_color_right: orange;
  --body: lightgrey;
}

body {
  background-color: var(--body);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
    "grid-item1 grid-item-2 grid-item-3"
    "grid-item4 grid-item-5 grid-item-6"
    "grid-item7 grid-item-8 grid-item-9"
    "grid-item10 grid-item11 grid-item12";
  grid-gap: 0.5rem;
}

.grid-item {
  background-color: var(--fg_color_left);
  color: var(--bg_color_left);
  border: 1px solid;
  height: 16rem;
  width: 16rem
}
