*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin-top: 2rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1rem;
  display: flex;
  justify-content: space-evenly;
  background-color: #d2b48c;
}
/* lists */
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 18rem;
  border: 1px solid black;
  border-radius: 1rem;
  background-color: #e9967a;
  padding: 2rem 1rem 2rem 1rem;
  overflow: hidden;
}

.list .item {
  width: 16rem;
  margin: 0.5rem 0rem;
  height: 8rem;
  background-color: #bedf7c;
  border: none;
  outline: none;
  border-radius: 1rem;
  padding: 0.5rem 1.5rem;
  position: relative;
}

.list .item:not(.newItem, .addNewItemBtn) {
  cursor: move;
}
.list .item.dragging {
  display: none;
}

.listTitle {
  text-transform: capitalize;
  margin: 0rem auto 1rem;
  font-weight: bold;
  font-size: 1.2rem;
  color: #588157;
}

.addNewItemBtn {
  display: grid;
  place-items: center;
  font-size: 2rem;
}
.articleText {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  padding: 0rem 0.5rem;
  /*   cursor: move; */
  overflow-wrap: anywhere;
  overflow-y: scroll;

  scrollbar-color: grey #bedf7c;
  scrollbar-width: 2px;
}
.articleText::-webkit-scrollbar {
  width: 2px;
}
.articleText::-webkit-scrollbar-thumb {
  background: grey;
}
.articleText::-webkit-scrollbar-track {
  background: #bedf7c;
}
/* dialog */
.dialog {
  margin: auto;
  width: 18rem;
  border: 1px solid black;
  border-radius: 1rem;
  background-color: #e9967a;
  padding: 2rem 1rem 2rem 1rem;
  overflow: hidden;
}

.dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

.dialog .newItem {
  width: 16rem;
  margin: 0.5rem 0rem;
  height: 6rem;
  background-color: #bedf7c;
  border: none;
  outline: none;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
}

.buttons {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-evenly;
}

.button {
  width: 5rem;
  height: 2rem;
  text-decoration: none;
  background-color: aquamarine;
  color: grey;
  font-size: 1rem;
  border: 1px solid aquamarine;
  border-radius: 1rem;
  box-shadow: 5px 6px 6px grey;
  cursor: pointer;
  outline: none;
  transition: 0.2s all;
}

.button:active {
  box-shadow: inset 1.1px 1.1px 10px grey;
  transform: scale(1);
}
.deleteButton {
  width: 1.5rem;
  height: 1.5rem;
  border: none;
  border-radius: 50%;
  background-color: aquamarine;
  color: grey;
  display: grid;
  place-items: center;
  rotate: 45deg;
  font-weight: bold;
  font-size: 1.1rem;
  transform: scale(0.7);
  position: absolute;
  top: 0.1rem;
  right: 0.1rem;
  cursor: pointer;
}