*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.body {
  background-color: grey;
}
.main {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 1rem;
  font-family: sans-serif;
  font-size: 1.5rem;
}
/* criteria */
.criteria {
  min-width: 25rem;
  background-color: green;
  color: white;
  border: 0.2rem solid orange;
  border-radius: 0.5rem;
  padding: 1rem;
}
/* checkboxes */
input[type="checkbox"] {
  height: 1.1rem;
  width: 1.1rem;
}
label {
  padding: 0.2rem;
}
/* rangeSliders */
input[type="range"] {
  height: 1.1rem;
}
.rangesContainer {
  padding: 0.2rem 0rem;
}
/* button */
.buttonContainer {
  display: flex;
  justify-content: center;
  padding: 1rem;
}
button {
  padding: 0.2rem;
  font-size: inherit;
}
/* shapes */
.shapes {
  background-color: orange;
  color: white;
  border: 0.2rem solid green;
  border-radius: 0.5rem;
  padding: 1rem;+
}
/* grid */
.prison {
  margin: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 10rem);
  grid-template-rows: auto;
  border: 0.15rem dotted black;
  padding: 1rem;
}